@charset "UTF-8";
html {
  scroll-behavior: smooth; 
}

.body {
  font-size: 10px;
  line-height: 10px;
  color: #5D5D5D;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'GothamProRegular';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; 
}

* {
  box-sizing: border-box; 
}

img {
  width: 100%;
}

header {
  background: #FFFFFF;
}

.header, .section {
  width: 100%;
  margin: 0 auto;
}

.section {
  height: 583px;
  position: relative;
  bottom: 3px;
  background-color: #fff;
}

.container1 {
  width: 100%;
}

.container1 {
  position: absolute;
}

.menu_and_logo {
  position: absolute;
  height: 54px;
  display: flex;
  background-color: #FFFFFF;
}

.logo_image_text, .xz2, .reg {
  display: flex;
  vertical-align: center;
  cursor: pointer;
}

.menu_and_logo {
  width: 100%;
}

.logo_image_text {
  width: 16.434%;
  margin-left: 1.7%;
}

.img_logo {
  margin-top: 6%;
  height: 59%;
  width: 18%;
}

.text_logo {
  height: 22%;
  width: 72.5%;
  margin-top: 12%;
  margin-left: 16.6%;
}

.text_logo img {
  margin-bottom: 2.5%;
}

.logo_text_menu {
  width: 24.417%;
  margin-left: 3.6%;
}

.xz2 {
  height: 100%;
}

.logo_text_menu_p {
  margin-top: 6.5%;
  margin-right: 11%;
}

.logo_text_menu p {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.4em;
}

.reg {
  position: absolute;
  right: 0;
  height: 100%;
  width: 15.5%;
  margin-right: 1.4%;
  margin-left: 33%;
}

.img_reg {
  margin-top: 7.7%;
  width: 14.1%;
  margin-right: 10%;
}

.reg_p p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.1em;

  color: #5D5D5D;
}

.reg_p {
  margin-top: 11%;
  width: 80%;
  font-size: 1.2em;
}

.main {
  height: 735px;
  position: relative;
  top: 6.8%;
  background-color: #3D4B71;
}

.main h1, h2, h3 {
  color: #FFFFFF;
  font-style: normal;
}

.main_text {
  position: relative;
  top: 19.4%;
}

.main h1 {
  margin-left: 34.7%;
  color: #FFFFFF;
  font-size: 4.7em;
  line-height: 0.3em;
  font-weight: bold;
  font-style: normal;
}

.main h2 {
  margin-top: 3.3%;
  margin-left: 39.7%;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.8em;
}

.xz {
  margin-top: 4%;
  display: flex;
  margin-left: 37%;
}

.xz h3 {
  color: #F2923B;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.8em;
  text-decoration: underline; 
  margin-right: 14%;
  cursor: pointer;
}

.image_horizontal {
  width: 100%;
  height: 42%;
  display: flex;
}

.image_column_one .image_horizontal {
  height: 70%;
}

.image_column_one, .image_column_two, .image_column_three {
  width: 100%;
  height: 28.6%;
  margin-bottom: 16%;
}

.img_column {
  height: 100%;
  width: 82.7%;
  margin-left: 17.2%;
}

.column {
  width: 100%;
  height: 100%;
  display: flex;
}

.column_two, .column_one, .column_three {
  height: 50.89%;
  width: 15.13%;
  position: absolute;
  bottom: -0.12%;
}

.column_one {
  left: 24.5%;
}

.column_two {
  left: 43.3%;
}

.column_three {
  left: 62.4%;
}

.img1 {
  height: 43.9%;
  width: 32.67%;
  margin-bottom: 10.5%;
  margin-left: 21%;
}

.image_column_one .img1 {
  position: relative;
  margin-left: 17%;
}

.one_one {
  width: 27.7%;
  margin-right: 7.6%;
}

.one_two {
  position: relative;
  bottom: 32%;
  width: 50.69%;
}

.two_one {
  width: 31.25%;
  margin-right: 14.58%;
}

.two_two {
  width: 31.25%;
}

.msk, .soche, .spb {
  width: 31.25%;
  height: 42.05607476635514%;
  border-radius: 100%;
  border: 0.9px solid #FFFFFF;
  box-sizing: border-box;
}

.soche, .spb {
  width: 31.25%;
  height: 100%;
}

.msk p, .soche p, .spb p {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  position: relative;
  top: 31.3%;
}

.msk p {
  left: 16.77%;
}

.soche p {
  left: 9.1111%;
}

.spb p {
  left: 13%;
}

.soche {
  margin-right: 14.58%;
}

.msk {
  margin-bottom: 14.018%;
  margin-left: 20.833%;
}

.img_column_down {
  height: 63.903%;
  width: 100%;
}

.section {
  height: 100%;
  margin-bottom: 20.2%;
}

.cards {
  position: relative;
  z-index: 3;
  width: 100%;
  position: relative;
  padding-left: 1.7%; 
  padding-right: 1.7%; 
  display: flex;
  justify-content: space-between;
}

.img_cards {
  height: 100%; 
  width: 100%;
}

.cards p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 2.9em;
  color: #3D4B71;
}

.card_one {
  width: 48.6%;
  margin-top: 4%;
}

.card_two {
  width: 48.6%;
  margin-top: 4%;
}

.group_card {
  width: 46.9%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.group_card p {
  white-space: nowrap;
  position: absolute;
  bottom: 71.6%;
  left: 1.9%;
}

.card_one p {
  left: 6.4%;
}

.group_butt {
  width: 40%;
  height: 39%;
}

.but_one, .but_two {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;

  width: 85%;
  height: 42.4%;
  border-radius: 7.24638px;
  box-sizing: border-box;
  border: 1px solid #3D4B71;
  cursor: pointer;
  outline: none;
  -moz-transition: background-color 0.3s 0.2s line;
  -o-transition: background-color 0.3s 0.2s line;
  -webkit-transition: background-color 0.3s 0.2s line; 
}

.but_one:hover {
  color: #FFFFFF;
  outline: none;
  background: #5b70a9; 
}

.but_two:hover {
  color: #FFFFFF;
  outline: none;
  background: #5b70a9; 
}

.but_one {
  background: #3D4B71;
  color: #FFFFFF;
  margin-bottom: 5.5%;
}

.but_two {
  background: #F6F6F6;
  color: #3D4B71;
}

.group_butt {
  margin-left: 7.5%;
  position: absolute;
  bottom: 17%;
}
