@charset "UTF-8";
html {
  scroll-behavior: smooth; 
}

.body {
  font-size: 10px;
  line-height: 10px;
  color: #5D5D5D;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'GothamProRegular';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; 
}

* {
  box-sizing: border-box; 
}

img {
  width: 100%;
}

header {
  background: #FFFFFF;
}

.header, .section {
  width: 100%;
  margin: 0 auto;
}

.container1 {
  width: 100%;
}

.container1 {
  position: absolute;
}

.menu_and_logo {
  position: absolute;
  height: 54px;
  display: flex;
  background-color: #FFFFFF;
}

.logo_image_text, .xz2, .reg {
  display: flex;
  vertical-align: center;
  cursor: pointer;
}

.menu_and_logo {
  width: 100%;
}

.logo_image_text {
  width: 16.434%;
  margin-left: 1.7%;
}

.img_logo {
  margin-top: 6%;
  height: 59%;
  width: 18%;
}

.text_logo {
  height: 22%;
  width: 72.5%;
  margin-top: 12%;
  margin-left: 16.6%;
}

.text_logo img {
  margin-bottom: 2.5%;
}

.logo_text_menu {
  width: 24.417%;
  margin-left: 3.6%;
}

.xz2 {
  height: 100%;
}

.logo_text_menu_p {
  margin-top: 6.5%;
  margin-right: 11%;
}

.logo_text_menu p {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.4em;
}

.reg {
  position: absolute;
  right: 0;
  height: 100%;
  width: 15.5%;
  margin-right: 1.4%;
  margin-left: 33%;
}

.img_reg {
  margin-top: 7.7%;
  width: 14.1%;
  margin-right: 10%;
}

.reg_p p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.1em;

  color: #5D5D5D;
}

.reg_p {
  margin-top: 11%;
  width: 80%;
  font-size: 1.2em;
}

.large {
	height: 1699px; 
	width: 100%;
	margin-top: 6.38%;
}

.VIP {
	margin-top: 8.47%;
	margin-left: 47.65%;
	font-style: normal;
	font-weight: bold;
	font-size: 4.7em;
	line-height: 1.5em;
	color: #3D4B71;
}

.rblock1 {
	height: 39.31724%;
}

.one {
	position: absolute;
	width: 13.91%;
	height: 15.59%;
	left: 1.739%;
	margin-top: 3.479%;
	padding-top: 3.449%;
	padding-left: 1.739%;

	border: 1px solid #F4F4F4;
	background: #F4F4F4;
	border-radius: 4.05111px;
}

.one h1 {
	cursor: pointer;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3em;
	color: #3D4B71;
	color: #3D4B71;
}

.one h2 {
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	color: #3D4B71;
	margin-top: 20.225%;
}

.one h3 {
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	color: #3D4B71;
	margin-top: 20.225%;
}

.tire {
	padding-top: 7%;
	display: flex;
}

.tire_tire {
	margin-top: 5%;
}

.tire_text {
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 173.5%;
	margin-right: 9.375%;
	margin-left: 4.375%;
	color: #3D4B71;
}

.rblock1 {
	display: flex;
}

.block_obmen {
	height: 100%;
	margin-top: 3.5%;
	width: 80%;
	margin-left: 17.39%;	
}

.calculator {
	width: 100%;
	height: 100%;
	background: #3D4B71;
	border-radius: 10px;	

	padding-top: 8.16%;
	padding-left: 15.32%;
	padding-right: 15.86%;
	padding-bottom: 8.27%;
}

.name_block {
	font-style: normal;
	font-weight: 500;
	font-size: 2.8em;
	line-height: 1em;
	color: #FFFFFF;
	margin-left: 12.71%;
}

.min_max {
	display: flex;
	justify-content: space-between;
	margin-top: 6.73%;
}

.min_max p {
	font-style: normal;
	font-weight: 500;
	font-size: 2.1em;
	line-height: 1em;

	color: #FFFFFF;
}

.count {
	display: flex;
	justify-content: space-between;
	margin-top: 2.844%;
}

.count p {
	font-style: normal;
	font-weight: 500;
	font-size: 2.1em;
	line-height: 1em;

	color: #F2923B;
}

.input_text, .input_text2 {
	margin-top: 4.191%;

	padding-left: 5.389%;
	padding-right: 2.844%;

	width: 100%;
	height: 11.25%;

	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
}

input[type="text"]::placeholder, .p_input, .p_input2 {
	font-style: normal;
	font-weight: normal;
	line-height: 135.7%;
	color: #A9A9A9;
}

.input, .input2 {
	font-size: 1.9em;
	font-family: 'GothamProRegular';
	margin-top: 3.5%;
	height: 50%;
	outline: none;
	border: none;
	color: #A9A9A9;
}

.input {
	width: 75.94%;
	margin-right: 80px;
	margin-top: 4.8%;
}

.input2 {
	width: 48%;
	margin-right: 185px;
}

.p_input, .p_input2 {
	white-space: nowrap;
	font-size: 1.9em;
	margin-top: 2.8%;
	margin-right: 4.89%;
}

.size_img1 {
	margin-top: 2.8%;
	width: 3.31%;
	margin-right: 1.89%;
}

.size_img2 {
	margin-top: 3.57%;
	width: 3.2%;
}

.size_img3 {
	margin-right: 1.895%;
	margin-top: 2.8%;
	width: 3.31%;
}

.count2 {
	display: flex;
	justify-content: space-between;
	margin-top: 6.44%;
}

.p_count2 {
	width: 100%;
	margin-top: 1.949%;
	display: flex;
}

.p1 {
	font-style: normal;
	font-weight: 500;
	font-size: 2.1em;
	line-height: 1em;

	color: #FFFFFF;

	margin-right: 3%;
}

.p2 {
	font-style: normal;
	font-weight: 500;
	font-size: 2.1em;
	line-height: 1em;

	color: #F2923B;	
}

.size_img0 {
	width: 5.055%;
}

.butt3 {
	margin-top: 8.695%;
	margin-left: 23%;

	font-style: normal;
	font-weight: normal;
	font-size: 2.35em;
	line-height: 135.7%;

	text-align: center;

	color: #FFFFFF;

	width: 54.97%;
	height: 15%;
	background: #F2923B;
	border-radius: 10px;
	border: 0px solid #F2923B;

	cursor: pointer;
  	outline: none;
  	-moz-transition: background-color 0.3s 0.2s line;
  	-o-transition: background-color 0.3s 0.2s line;
  	-webkit-transition: background-color 0.3s 0.2s line; 
}

.butt3:hover {
  color: #FFFFFF;
  outline: none;
  background: #f2c73b; 
}

.earlier {
	margin-top: 9.4%;
	margin-bottom: 5%;

	font-style: normal;
	font-weight: 500;
	font-size: 2.8em;
	line-height: 1em;

	text-align: center;

	color: #3D4B71;
}

.history {
	background: #F4F4F4;
	border-radius: 4.05111px;	
	margin-bottom: 7.29%;
}

.img_table {
	width: 20.55%;
}

table {
	width: 100%;
	padding-right: 3.152%;
	padding-left: 2.391%;
	padding-top: 31px;
	margin-bottom: 35px;
}

.top td {
	font-style: normal;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 133.7%;
	color: #888888;
}

th, td {
	text-align: center;
}

.round-top td {
	border-bottom: 1px solid #E8E8E8;
}

.td1 {
	font-weight: bold;
	color: #3D4B71;
}

.td1, .td3, .td4, .td5, .td6, .td7 {
	font-style: normal;
	font-weight: 500;
	font-size: 1.3em;
	line-height: 133.7%;
	color: #000000;
}

.td1, .td2, .td3, .td4, .td5, .td6, .td7 {
	padding-bottom: 4%;
	padding-top: 4%;
}

.butt4 {
	margin-left: 38.58%;
	margin-bottom: 2.5%;

	font-style: normal;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 133.7%;
	color: #000000;

	width: 22.82%;
	height: 52.45px;

	border: 0.832579px solid #C2C3C7;
	box-sizing: border-box;
	border-radius: 649.412px;

	cursor: pointer;
  	outline: none;
  	-moz-transition: background-color 0.3s 0.2s line;
  	-o-transition: background-color 0.3s 0.2s line;
  	-webkit-transition: background-color 0.3s 0.2s line; 
}

.butt4:hover {
  color: #FFFFFF;
  outline: none;
  background: #5b70a9; 
}